@model string
@{
    ViewData["Title"] = "Qr Code";
}

<div class="text-center">
    <h1 class="display-4">Codigo QR</h1>
    <img alt="Embedded QR Code" class="img-responsive" src="data:image/png;base64,@Model" />
</div>